# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
backend_v2/node_modules/
frontend/node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# DB files (opzionale: se non vuoi caricare SQLite su GitHub)
*.db
*.db-shm
*.db-wal

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
